{% extends 'base.html' %}
{%load static%}
{%block title%}Science Forum-home{%endblock%}
{%block content%}

<div class="container justify-center">
    <div class="row justify-center">
    <div class="mt-4 mx-20">
        <img src="static\img\Scientist believe in things, not in persons.png" class="img-fluid" style="max-height: 400px;">
    </div>
</div>
<br>
 <h1 class="font-weight-bold text-primary text-center">Fostering Entrepreneurship for Students</h1>
<br>
<div class="container">
    <div class="card-deck">
  <div class="card text-center shadow">
    <img class="card-img-top" src="static\img\1.svg" alt="Card image cap" style="height: 200px;">
    <div class="card-body">
      <h5 class="card-title text-primary font-weight-bold">Services</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-center shadow">
    <img class="card-img-top" src="static\img\3.svg" alt="Card image cap" style="height: 200px;">
    <div class="card-body">
      <h5 class="card-title text-primary font-weight-bold">Goals</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-center shadow">
    <img class="card-img-top" src="static\img\4.svg" alt="Card image cap" style="height: 200px;">
    <div class="card-body">
      <h5 class="card-title text-primary font-weight-bold">Experiments</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
<br>



{%endblock%}