{% extends 'base.html' %}
{%load static%}
{%block title%}Science Forum-home{%endblock%}
{%block content%}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5 mt-4 ml-5">
                <img src="{% static 'img/presentation.svg'%}">
            </div>
            <div class="col-sm-5 font-weight-bold text-primary my-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Consequa
            </div>
        </div>

    </div>
    <div class="container">


    </div>


{%endblock%}