{% extends 'base.html' %}
{%load static%}
{%block title%}Science Forum-home{%endblock%}
{%block content%}

<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="text-fluid">"Scientists Believe in things not in persons..."</h1>      
  </div>
</div>
<br>
     <h1 class="font-weight-bold text-primary text-center">Fostering Entrepreneurship for Students</h1>
<br>
<div class="container">
    <div class="card-deck">
        <div class="card text-center shadow">
            <img class="card-img-top" src="static\img\1.svg" alt="Card image cap" style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title text-primary font-weight-bold">Services</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card text-center shadow">
            <img class="card-img-top" src="static\img\3.svg" alt="Card image cap" style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title text-primary font-weight-bold">Goals</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card text-center shadow">
            <img class="card-img-top" src="static\img\4.svg" alt="Card image cap" style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title text-primary font-weight-bold">Experiments</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid bg-grey shadow">
  <div class="row mt-4 p-4">
    <div class="col-sm-4">
      <img src="static\img\4.svg" style="width: 100%; height: 100%;">
    </div>
    <div class="col-sm-8 text-center">
      <h2 class="text-primary">Our Values</h2><br>
      <h4><strong class="text-primary">MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p><strong class="text-primary">VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
<br>
<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center mt-4 p-3 ">
  <h2 class="text-primary bold">SERVICES</h2>
  <br>
  <h4 class="text-primary">What we offer !!</h4>
  <br>
  <div class="row slideanim ">
    <div class="col-sm-4 shadow my-2">
      <span class="fas fa-biking logo-small"></span>
      <h4 class="text-primary">POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4 shadow my-2">
      <span class="fas fa-heart logo-small"></span>
      <h4 class="text-primary">LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4 shadow my-2">
      <span class=" fas fa-calendar-check logo-small"></span>
      <h4 class="text-primary">JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br>
  <div class="row slideanim mt-4 ">
    <div class="col-sm-4 shadow my-2">
      <span class="fas fa-leaf logo-small"></span>
      <h4 class="text-primary">GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4 shadow my-2">
      <span class="far fa-id-card logo-small"></span>
      <h4 class="text-primary">CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4 shadow my-2">
      <span class="fas fa-mask logo-small"></span>
      <h4 class="text-primary" style="color:#303030;">HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>
<br>
 <h2 class="text-primary my-3 text-center uppercase">What our customers say</h2>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner shadow text-center pt-5" style="background: rgba(169,169,169,.2);">
    <div class="carousel-item active " style="height: 200px">
    <h3 class="mt-5">Awesome services with excellent undersatnding of science</h3>
    </div>
    <div class="carousel-item" style="height: 200px">
      <h3 class="mt-5">Awesome services with excellent undersatnding of science</h3>
    </div>
    <div class="carousel-item" style="height: 200px">
      <h3 class="mt-5">Awesome services with excellent undersatnding of science</h3>
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


{%endblock%}