{% extends 'base.html' %}
{%load static%}
{%block title%}Scientist's Gallery{%endblock%}
{%block content%}

<h1 class="font-weight-bold text-center mt-4">Gallery</h1>
<br>
<div class="container">
<div class="row">
        {%for Scientist in Scientists%}
        <div class=" col-sm-6 col-md-4 col-lg-3 my-2">
           <div class="card lshadow"> 
            <img class="card-img-top w-100" src="/media/{{Scientist.Scientist_thumbnail}}">
            <div class="card-body">
                <h6 class="card-head font-weight-bold text-blue"><a href="/ScientistProfile/{{Scientist.Scientist_title}}" class="stretched-link text-decoration-none">{{Scientist.Scientist_title|upper}}</a></h6>
                <small class="card-text chhotafont text-muted">{{Scientist.Scientist_content|truncatewords:10|safe}}.</small>
            </div>
            </div>
        </div>
        {%endfor%}
</div>
</div>

{% endblock content%}