{% extends 'base.html' %}
{%load static %}
{%block title%}Science Forum-home{%endblock%}
{%block content%}

<div class="container mt-5">
    <div class="row d-flex">
        <div class="col-md-8 my-2">
            <div class="card border-0 shadow">
                <div class="">
                    <img class="card-img-top" src="/media/{{blists.0.thumbnail}}" alt="Card image">
                </div>
                <div class="card-body border">
                  <h4 class="card-title">{{blists.0.blog_title}}</h4>
                  <p class="card-text">{{blists.0.blog_content|truncatewords:50}}</p>
                  <a href="/blogs/blogpost/{{blists.0.blog_title}}" class="btn btn-primary">See More</a>
                </div>
                <div class="card-footer">
                    {{blists.0.blog_writer}}|{{blists.0.blog_date}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row my-2">
                <div class="card border-0 shadow" style="">
                    <div class="listimg">

                        <img class="img-fluid" src="/media/{{blists.1.thumbnail}}" alt="Card image">
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">{{blists.1.blog_title}}</h4>
                      <p class="card-text">{{blists.1.blog_content|truncatewords:5}}</p>
                      <a href="/blogs/blogpost/{{blists.1.blog_title}}" class="btn btn-primary">See More</a>
                    </div>
                    <div class="card-footer">
                        {{blists.0.blog_writer}}|{{blists.0.blog_date}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card shadow" style="">
                    <div class="listimg">

                        <img class="img-fluid" src="/media/{{blists.2.thumbnail}}" alt="Card image">
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">{{blists.2.blog_title}}</h4>
                      <p class="card-text">{{blists.2.blog_content|truncatewords:5}}</p>
                      <a href="/blogs/blogpost/{{blists.2.blog_title}}" class="btn btn-primary">See More</a>
                    </div>
                    <div class="card-footer">
                        {{blists.0.blog_writer}}|{{blists.0.blog_date}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  mx-auto">   
        
        {%for blist in blists|slice:"3:"%}
        <div class="col-md-4 my-3">
            <div class="card border-0 shadow" style="">
                <div class="listimg">
                    <img class="img-fluid h-100" src="/media/{{blist.thumbnail}}" alt="Card image">

                </div>
                <div class="card-body">
                  <h4 class="card-title">{{blist.blog_title}}</h4>
                  <p class="card-text">{{blist.blog_content|truncatewords:6}}</p>
                  <a href="/blogs/blogpost/{{blist.blog_title}}" class="btn btn-primary">See More</a>
                </div>
                <div class="card-footer">
                    {{blist.blog_writer}}|{{blist.blog_date}}
                </div>
              </div>
        </div>
        {%endfor%}
    </div>
</div>


{%endblock%}


