{% extends 'base.html' %}
{%load static %}
{%block title%}Science Forum-home{%endblock%}
{%block content%}
<!-- {{blists}} -->
<div class="container mt-5 ">
    <div class="row  ">
        <div class="col-md-12 my-2 px-5">
            <div class="card border hshadow mx-5" style="">
                <div class="height5 overflow-hidden">

                    <img class="img-fluid  w-100" src="/media/{{blists.0.thumbnail}}" alt="Card image">
                </div>
                <div class="card-body border height2">
                    <a href="/blogs/blogpost/{{blists.0.blog_title}}" class="text-decoration-none"> <h4 class="card-title font-weight-bold text-primary">{{blists.0.blog_title}}</h4></a>
                  <p class="card-text text-muted">{{blists.0.blog_content|truncatewords:20|safe }}</p>
                </div>
                <div class="card-footer py-0 overflow-hidden mb-0" style="height:40px;">
                    <p class="my-0 footertext"> {{blists.0.blog_writer}}|<small class="text-muted">{{blists.0.blog_date}}</small> </p>
             </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="my-2">
                <div class="card border-0 shadow" style="">
                    <div class=" overflow-hidden border">

                        <img class="img-fluid w-100" src="/media/{{blists.1.thumbnail}}" alt="Card image">
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">{{blists.1.blog_title}}</h4>
                      <p class="card-text">{{blists.1.blog_content|truncatewords:5|safe }}</p>
                      <a href="/blogs/blogpost/{{blists.1.blog_title}}" class="btn btn-primary">See More</a>
                    </div>
                    <div class="card-footer">
                        {{blists.0.blog_writer}}|{{blists.0.blog_date}}
                    </div>
                </div>
            </div>
            <div class="my-2">
                <div class="card shadow" style=""> 
                    <div class=" overflow-hidden ">

                        <img class="img-fluid w-100 " src="/media/{{blists.2.thumbnail}}" alt="Card image">
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">{{blists.2.blog_title}}</h4>
                      <p class="card-text">{{blists.2.blog_content|truncatewords:5|safe}}</p>
                      <a href="/blogs/blogpost/{{blists.2.blog_title}}" class="btn btn-primary">See More</a>
                    </div>
                    <div class="card-footer">
                        {{blists.0.blog_writer}}|{{blists.0.blog_date}}
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <div class="row d-flex">   
        
        {%for blist in blists|slice:"1:"%}
        <div class="col-md-4 my-3  aos-animate" data-aos="zoom-in">
            <div class="card border hshadow px-0 py-0 " style="">
                <div class="height2 overflow-hidden shadow">
                    <img class="card-img-top" src="/media/{{blist.thumbnail}}" alt="Card image">

                </div>
                <div class="card-body height1 overflow-hidden">
                    <a href="/blogs/blogpost/{{blist.blog_title}}" class="text-decoration-none"><h2 class="card-title font-weight-bold text-primary my-0" >{{blist.blog_title|upper}}</h2></a>
                  <p class="my-2">{{blist.blog_content|truncatewords:5|safe}}</p>
                 
                </div>
                <div class="card-footer py-0 overflow-hidden" style="height:40px;">
                       <p class="my-0 footertext"> {{blist.blog_writer}}|<small class="text-muted">{{blist.blog_date}}</small> </p>
                </div>
              </div>
        </div>
        {%endfor%}

    </div>
</div>
<!-- <script>
    $(".hshadow").hover(
      function () {
        $(this).addClass("shadow-lg");
      },
      function () {
        $(this).removeClass("shadow-lg");
      }
    );
    </script> -->

{%endblock%}


