{%load static%}
<style>
.bg-light{
    background-color: white;
}
.navbar-brand{
    font-weight:bold;
    font-family: monosapce;
    font-size: 28px;
}
.navbar-light .navbar-nav  .nav-link{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase; 
    color: black;
}

.navbar-light .navbar-nav  .nav-item{
    margin: 0 15px;
    color: black;
}
.dropdown-menu{
  border: none;
  background: rgba(255,255,255,.8); 
}
.dropdown:hover .dropdown-menu{
        display: block;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light  font-weight-bold uppercase shadow fixed-top bg-light " id="navBar">
    <div class="container">
  <a class="navbar-brand" href="/"><img src="static/img/logo.png" style="width: 70px; height: 50px;">ScienceForum</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogs/">Blogs</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
        <div class="dropdown-menu shadow" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">1st Event</a>
          <a class="dropdown-item" href="#">2st Event</a>
          <a class="dropdown-item" href="#">3st Event</a>
          <a class="dropdown-item" href="#">4nd Event</a>
          <a class="dropdown-item" href="#">5nd Event</a>
          <a class="dropdown-item" href="#">6nd Event</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/events/">More...</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scienceGallery/">Scientist Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

<script>


  window.onscroll=function(){scroll()};

  function scroll(){
      if(document.body.scrollTop>50||document.documentElement.scrollTop>50)
      {
         document.getElementsById("navBar").classList.add("bg-light");
      }
      else{
         document.getElementsById("navBar").classList.remove("bg-light");
      }

  </script>