{%load static%}
<ul class="nav justify-content-center bg-warning shadow-lg">
    <li class="nav-item">
        <a class="nav-link active" href="#" style="font-family: 'Vampiro One', cursive;"><img src="/static/img/logo.png" height="50" class="font-weight-bolder">Science Forum</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Active link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled link</a>
    </li>
</ul>
